<v-layout>

    <div class="container-fluid" >
      <div class="row">
      

<div class="col-sm-3 col-md-2 sidebar">


<form class="form-horizontal">
<h2>Filter</h2>
<fieldset>
  <!-- Multiple Checkboxes (inline) -->
  <!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="yearlyFee">Jahresgebühr</label>
  <div class="col-md-6">
    <select id="yearlyFee" name="yearlyFee" class="form-control" v-model="yearlyFee">
      <option v-bind:value="{ selected: false, inSelection: 0 }">Egal</option>
      <option v-bind:value="{ selected: true, inSelection: 0 }" >Nein</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-6 control-label" for="selectbasic">Mit Girokonto</label>
  <div class="col-md-6">
    <select id="selectbasic" name="withChecking" class="form-control" v-model="withChecking">
      <option v-bind:value="{ selected: false, inSelection: 'true' }">Egal</option>
      <option v-bind:value="{ selected: true, inSelection: 'true' }">Ja</option>
      <option v-bind:value="{ selected: true, inSelection: 'false' }" >Nein</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-6 control-label" for="charge">Abrechnung</label>
  <div class="col-md-6">
  <div class="checkbox">
    <label for="charge-0">
      <input type="checkbox" v-model="charge.inSelection" id="charge-0" value="credit">
      Credit
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-1">
      <input type="checkbox" v-model="charge.inSelection" id="charge-1" value="charge">
      Charge
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-2">
      <input type="checkbox" v-model="charge.inSelection" id="charge-2" value="debit">
      Debit
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-3">
      <input type="checkbox" v-model="charge.inSelection" id="charge-3" value="prepaid">
      Prepaid
    </label>
	</div>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="offlinepin">Offline-PIN Support</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="offlinepin-0">
      <input type="checkbox" v-model="offlinepin.selected" name="offlinepin" id="offlinepin-0" value="true">
      Ja
    </label>
  </div>
</div>

<div class="form-group">
  <label class="col-md-6 control-label" for="selectbasic">Erste CVM-Methode</label>
  <div class="col-md-6">
    <select id="selectbasic" name="pinfirst" class="form-control" v-model="pinfirst">
      <option v-bind:value="{ selected: false, inSelection: 'true' }">Egal</option>
      <option v-bind:value="{ selected: true, inSelection: 'true' }">PIN first</option>
      <option v-bind:value="{ selected: true, inSelection: 'false' }" >Sign first</option>
    </select>
  </div>
</div>


<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="offlinetrx">Offline-Transaktionen</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="offlinetrx-0">
      <input type="checkbox" v-model="offlinetrx.selected" name="offlinetrx" id="offlinetrx-0" value="true">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="nfc">NFC</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="nfc-0">
      <input type="checkbox" v-model="contactless.selected" name="nfc" id="nfc-0" value="Ja">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-6 control-label" for="3dsecure">3D-Secure</label>
  <div class="col-md-6">
  <div class="checkbox">
    <label for="3dsecure-0">
      <input type="checkbox" v-model="secure.selected" name="3dsecure" id="3dsecure-0" value="true">
      Ja
    </label>
	</div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-6 control-label" for="atm">ATM gratis in:</label>
  <div class="col-md-6">
  <div class="checkbox">
    <label for="atm-0">
      <input type="checkbox" v-model="fees_atm_de.selected" name="atm" id="atm-0" value="de">
      Deutschland
    </label>
	</div>
  <div class="checkbox">
    <label for="atm-1">
      <input type="checkbox" v-model="fees_atm_eur.selected" name="atm" id="atm-1" value="eu">
      Euro Zone
    </label>
	</div>
  <div class="checkbox">
    <label for="atm-2">
      <input type="checkbox" v-model="fees_atm_foreign.selected" name="atm" id="atm-2" value="all">
      Weltweit
    </label>
	</div>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="posfees">POS gratis im Ausland</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="posfees-0">
      <input type="checkbox" v-model="fees_pos_foreign.selected" name="posfees" id="posfees-0" value="true">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="insurance">Versicherungen</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="insurance-0">
      <input type="checkbox" v-model="insurance.selected" name="insurance" id="insurance-0" value="true">
      Ja
    </label>
  </div>
</div>


<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-6 control-label" for="miles">Meilen sammeln</label>
  <div class="col-md-6">
    <label class="checkbox-inline" for="miles-0">
      <input type="checkbox" v-model="miles.selected" name="miles" id="miles-0" value="true">
      Ja
    </label>
  </div>
</div>

</fieldset>
</form>

</div>

<div class="clearfix"><div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


  <div class="jumbotron">
  <h1> <i class="fa fa-credit-card"></i> Immer die richtige Karte</h1>
   <p>Egal ob für den Tankautomaten in Frankreich, die U-Bahn in London oder das Modegeschäft in Deutschland - finde jetzt die ideale Karte für dich!</p>
</div>


      <table class="table table-striped table-responsive" v-if="filteredCards && filteredCards.length > 0 ">
        <thead>
        <tr>
          <th>
            Karte
          </th>
          <th>
            Jahresgebühr
          </th>
            <th>
            POS Fremdwährung
          </th>
            <th>
            ATM Euro
          </th>
            <th>
            ATM Fremdwährung
          </th>
            <th>
            NFC
          </th>
            <th>
            Meilen
          </th>
           <th>
            Abrechnung
          </th>
          <th>
            Notes
          </th>
        </tr>
        </thead>
        <tbody>
          
        <tr v-for="card in filteredCards">
          <td>
            {{card.Issuer}}
          </td>
          <td>

          <span v-bind:class="{'label label-success': card.yearlyFee == 0}">{{card.yearlyFee}}</span>

          </td>
          <td>

                      <span v-bind:class="{'label label-success': card.fees_pos_foreign == 0}">{{card.fees_pos_foreign}}</span>


          </td>
          <td>

                                  <span v-bind:class="{'label label-success': card.fees_atm_eur == 0}">{{card.fees_atm_eur}}</span>


          </td>
          <td>
                                  <span v-bind:class="{'label label-success': card.fees_atm_foreign == 0}">{{card.fees_atm_foreign}}</span>

          </td>
          <td>
                        
                        
                         <span v-bind:class="{'label label-success': card.contactless == 'true', 'label label-danger': card.contactless != 'true'}"> <i class="fa" v-bind:class="{ 'fa-check fa-fw ': card.contactless == 'true', 'fa-times fa-fw': card.contactless !='true' }"/></span>

          </td>

                    <td>
                        
                        
                         <span v-bind:class="{'label label-success': card.miles == 'true', 'label label-info': card.miles != 'true'}"> <i class="fa" v-bind:class="{ 'fa-check fa-fw ': card.miles == 'true', 'fa-times fa-fw': card.miles !='true' }"/></span>

          </td>

                    <td>
                        {{card.charge}}

          </td>
          <td>
                       <span v-html="card.notes"></span>


          </td>
        </tr>
        </tbody>
      </table>
      <div v-else>
        Leider entsprechen keine Karten den Kriterien.
      </div>


    <div id='footer'>
      <hr/>
    <small>CVM-Daten teils von <a href="http://emv.maxontour.com"> maxontour</a> 
     <router-link
            :to="{ name: 'legal.index' }"
          >
            <a>
             -  Kontakt
            </a> - <a href="https://github.com/c0dr/CardOnly.de">View on GitHub</a>
          </router-link></small>
    
    </div>

    </div>  
  </v-panel>
    </div>
</v-layout>
