<v-layout>

  <div class="jumbotron">
  <h1>Habe immer die richtige Karte</h1>
   <p>Egal ob für den Tankautomaten in Frankreich, die U-Bahn in London oder das Modegeschäft in Deutschland - finde jetzt die ideale Karte für dich!</p>
</div>

<dialog>Loading...</dialog>


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Basisdaten</legend>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="yearlyfee">Ohne Jahresgebühr</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="yearlyfee-0">
      <input type="checkbox" v-model="yearlyFee.selected" name="yearlyfee" id="yearlyfee-0" value="true">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="bankaccount">Mit Girokonto</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="bankaccount-0">
      <input type="checkbox" v-model="withChecking.selected" name="bankaccount" id="bankaccount-0" value="true">
      Ja
    </label>
  </div>
</div>



<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="charge">Abrechnung</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="charge-0">
      <input type="checkbox" v-model="charge.inSelection" id="charge-0" value="credit">
      Credit
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-1">
      <input type="checkbox" v-model="charge.inSelection" id="charge-1" value="charge">
      Charge
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-2">
      <input type="checkbox" v-model="charge.inSelection" id="charge-2" value="debit">
      Debit
    </label>
	</div>
  <div class="checkbox">
    <label for="charge-3">
      <input type="checkbox" v-model="charge.inSelection" id="charge-3" value="prepaid">
      Prepaid
    </label>
	</div>
  </div>
</div>

<legend>CVM</legend>
<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="offlinepin">Offline-PIN Support</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="offlinepin-0">
      <input type="checkbox" v-model="offlinepin.selected" name="offlinepin" id="offlinepin-0" value="true">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="pinfirst">PIN-First</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="pinfirst-0">
      <input type="checkbox" v-model="pinfirst.selected" name="pinfirst" id="pinfirst-0" value="true">
      Ja
    </label>
  </div>
</div>

<legend>Einsatz</legend>


<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="offlinetrx">Offline-Transaktionen</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="offlinetrx-0">
      <input type="checkbox" v-model="offlinetrx.selected" name="offlinetrx" id="offlinetrx-0" value="true">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="nfc">NFC</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="nfc-0">
      <input type="checkbox" v-model="contactless.selected" name="nfc" id="nfc-0" value="Ja">
      Ja
    </label>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="3dsecure">3D-Secure</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="3dsecure-0">
      <input type="checkbox" name="3dsecure" id="3dsecure-0" value="true">
      Ja
    </label>
	</div>
  </div>
</div>


<legend>Gebühren</legend>


<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="atm">ATM gratis in:</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="atm-0">
      <input type="checkbox" v-model="fees_atm_de.selected" name="atm" id="atm-0" value="de">
      Deutschland
    </label>
	</div>
  <div class="checkbox">
    <label for="atm-1">
      <input type="checkbox" v-model="fees_atm_eur.selected" name="atm" id="atm-1" value="eu">
      Euro-Zone (ohne DE)
    </label>
	</div>
  <div class="checkbox">
    <label for="atm-2">
      <input type="checkbox" v-model="fees_atm_foreign.selected" name="atm" id="atm-2" value="all">
      Weltweit
    </label>
	</div>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="posfees">POS gratis im Ausland</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="posfees-0">
      <input type="checkbox" v-model="fees_pos_foreign.selected" name="posfees" id="posfees-0" value="true">
      Ja
    </label>
  </div>
</div>

<legend>Benefits</legend>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="insurance">Versicherungen</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="insurance-0">
      <input type="checkbox" v-model="insurance.selected" name="insurance" id="insurance-0" value="true">
      Ja
    </label>
  </div>
</div>


<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="miles">Meilen sammeln</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="miles-0">
      <input type="checkbox" v-model="miles.selected" name="miles" id="miles-0" value="true">
      Ja
    </label>
  </div>
</div>

</fieldset>
</form>



      <table class="table table-striped" v-if="filteredCards">
        <thead>
        <tr>
          <th>
            Issuer
          </th>
          <th>
            Jahresgebühr
          </th>
          <th>
            POS Euro
          </th>
            <th>
            POS Fremdwährung
          </th>
            <th>
            ATM Euro
          </th>
            <th>
            ATM Fremdwährung
          </th>
            <th>
            NFC
          </th>
           <th>
            Abrechnung
          </th>
          <th>
            Notes
          </th>
        </tr>
        </thead>
        <tbody>
          
        <tr v-for="card in filteredCards">
          <td>
            {{card.Issuer}}
          </td>
          <td>
                      {{card.yearlyFee}}

          </td>
          <td>
                        {{card.fees_pos_eur}}

          </td>
          <td>
                        {{card.fees_pos_foreign}}

          </td>
          <td>
                        {{card.fees_atm_eur}}

          </td>
          <td>
                        {{card.fees_atm_foreign}}

          </td>
          <td>
                        {{card.contactless ? "Ja" : "Nein"}}

          </td>

                    <td>
                        {{card.charge}}

          </td>
          <td>
                        {{card.notes}}

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id='footer'>
      <hr/>
    <small>CVM-Daten teils von <a href="http://emv.maxontour.com"> maxontour</a> 
     <router-link
            :to="{ name: 'home.index' }"
          >
            <a>
             -  Kontakt
            </a>
          </router-link></small>
    
  </v-panel>
</v-layout>
