/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */
.padding-left
  padding-left: 8px

#footer
  font-size: 90%

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}