/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */
.padding-left
  padding-left: 8px

#footer
  font-size: 90%

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 1400px){
.container {
    width: 1400px;
}}

.jumbotron h1, .jumbotron .h1 {
  font-size: 45px !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.well-news h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.cardImage {
  float: left;
}